#header-section {
    width: 100%; 
    text-align: center;
}

#input-section {
    width: 100%; 
    text-align: center;
}

#grocery-list-section {
    width: 100%; 
    text-align: center;
    margin-top: 10px;  
}

#grocery-list-table {
    margin:0 auto;
    width: 500px;
    border-collapse: collapse;
    
}

#grocery-list-table td {
    border: 1px black solid;
}