#header-section {
    width: 100%; 
    text-align: center;
}

#input-section {
    width: 100%; 
    text-align: center;
}

#grocery-list-section {
    width: 100%; 
    text-align: center;
    margin-top: 10px;  
}

#grocery-list-table {
    margin:0 auto;
    width: 500px;
    border-collapse: collapse;
    
}

#grocery-list-table td {
    border: 1px black solid;
}
#errorDisplay {
    position: absolute;
    background: #fcc;
    color: red;
    display: flex;
    width: 500px;
    left: 50%;
    top: calc(50% + 180px);
    transform: translate(-50%, 0%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
    padding: 20px;
    display: none;
  }

  #print-section {
    margin-top: 10px;
    width: 100%; 
    text-align: center;
}